###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> frontend ###
/frontend/node_modules/
/frontend/dist/
/frontend/.vite/
###< frontend ###

###> docker ###
/docker/php/php.ini
###< docker ###

###> uploads ###
/public/uploads/
###< uploads ###

###> production files ###
/.htaccess
/.env-prod
/.env-prod.local
###< production files ###

